# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Maven@3
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: 'package'
- script: |
    cd scott-gradle-plugin
    chmod +x ./gradlew
    ./gradlew build
  displayName: 'Gradle Plugin'
- script: |
    mvn sonar:sonar -Dsonar.projectKey=dodie_scott -Dsonar.organization=dodie -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$(sonar-login-id)
  displayName: 'Sonar'
